USE [master]
GO
/****** Object:  Database [ASSIGNMENT1]    Script Date: 17-10-2019 09:45:06 ******/
CREATE DATABASE [ASSIGNMENT1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASSIGNMENT1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ASSIGNMENT1.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ASSIGNMENT1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ASSIGNMENT1_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASSIGNMENT1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASSIGNMENT1]
GO
/****** Object:  Schema [PRODUCTION]    Script Date: 17-10-2019 09:45:06 ******/
CREATE SCHEMA [PRODUCTION]
GO
/****** Object:  Schema [SALES]    Script Date: 17-10-2019 09:45:06 ******/
CREATE SCHEMA [SALES]
GO
/****** Object:  Table [PRODUCTION].[BRANDS]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTION].[BRANDS](
	[BRAND_ID] [int] NOT NULL,
	[BRAND_NAME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[BRAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTION].[CATEGORIES]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTION].[CATEGORIES](
	[CATEGORY_ID] [int] NOT NULL,
	[CATEGORY_NAME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTION].[PRODUCTS]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTION].[PRODUCTS](
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_NAME] [varchar](30) NULL,
	[BRAND_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[MODEL_YEAR] [varchar](4) NULL,
	[LIST_PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTION].[STOCKS]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRODUCTION].[STOCKS](
	[STORE_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[CUSTOMERS]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[CUSTOMERS](
	[CUSTOMER_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](30) NOT NULL,
	[LAST_NAME] [varchar](30) NOT NULL,
	[PHONE] [varchar](10) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[STREET] [varchar](20) NULL,
	[CITY] [varchar](20) NULL,
	[STATE] [varchar](30) NULL,
	[ZIP_CODE] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[ORDER_ITEMS]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SALES].[ORDER_ITEMS](
	[ORDER_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
	[LIST_PRICE] [int] NULL,
	[DISCOUNT] [int] NULL,
	[ITEM_AMOUNT]  AS ([QUANTITY]*[LIST_PRICE]-[DISCOUNT]),
PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[ORDERS]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[ORDERS](
	[ORDER_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ORDER_STATUS] [varchar](15) NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
	[REQUIRED_DATE] [date] NOT NULL,
	[SHIPPED_DATE] [date] NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STAFFS]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STAFFS](
	[STAFF_ID] [int] NOT NULL,
	[FIRST_NAME] [varchar](30) NOT NULL,
	[LAST_NAME] [varchar](30) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PHONE] [varchar](10) NULL,
	[ACTIVE] [varchar](10) NULL,
	[MANAGER_ID] [int] NULL,
	[STORE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STORES]    Script Date: 17-10-2019 09:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STORES](
	[STORE_ID] [int] NOT NULL,
	[STORE_NAME] [varchar](30) NOT NULL,
	[PHONE] [varchar](10) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[STREET] [varchar](20) NULL,
	[CITY] [varchar](20) NULL,
	[STATE] [varchar](30) NULL,
	[ZIP_CODE] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [PRODUCTION].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [fk_brands_products] FOREIGN KEY([BRAND_ID])
REFERENCES [PRODUCTION].[BRANDS] ([BRAND_ID])
GO
ALTER TABLE [PRODUCTION].[PRODUCTS] CHECK CONSTRAINT [fk_brands_products]
GO
ALTER TABLE [PRODUCTION].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [fk_categories_products] FOREIGN KEY([CATEGORY_ID])
REFERENCES [PRODUCTION].[CATEGORIES] ([CATEGORY_ID])
GO
ALTER TABLE [PRODUCTION].[PRODUCTS] CHECK CONSTRAINT [fk_categories_products]
GO
ALTER TABLE [PRODUCTION].[STOCKS]  WITH CHECK ADD  CONSTRAINT [fk_products_stocks] FOREIGN KEY([PRODUCT_ID])
REFERENCES [PRODUCTION].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [PRODUCTION].[STOCKS] CHECK CONSTRAINT [fk_products_stocks]
GO
ALTER TABLE [PRODUCTION].[STOCKS]  WITH CHECK ADD  CONSTRAINT [fk_stores_stocks] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [PRODUCTION].[STOCKS] CHECK CONSTRAINT [fk_stores_stocks]
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [fk_orders_order_items] FOREIGN KEY([ORDER_ID])
REFERENCES [SALES].[ORDERS] ([ORDER_ID])
GO
ALTER TABLE [SALES].[ORDER_ITEMS] CHECK CONSTRAINT [fk_orders_order_items]
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [fk_products_order_items] FOREIGN KEY([PRODUCT_ID])
REFERENCES [PRODUCTION].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [SALES].[ORDER_ITEMS] CHECK CONSTRAINT [fk_products_order_items]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [fk_customer_orders] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [SALES].[CUSTOMERS] ([CUSTOMER_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [fk_customer_orders]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [fk_staff_orders] FOREIGN KEY([STAFF_ID])
REFERENCES [SALES].[STAFFS] ([STAFF_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [fk_staff_orders]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [fk_stores_orders] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [fk_stores_orders]
GO
ALTER TABLE [SALES].[STAFFS]  WITH CHECK ADD  CONSTRAINT [fk_stores_staff] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALES].[STAFFS] CHECK CONSTRAINT [fk_stores_staff]
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD CHECK  (([LIST_PRICE]>(0)))
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD CHECK  (([QUANTITY]>(0)))
GO
USE [master]
GO
